body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100dvh;
    justify-content: space-around;
}

.header {
    border: 5px solid blue;
    padding: 20px;
}

.header, .main, .footer {
    background-color: violet;
}

.main {
    flex: 1;
}